<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rooms List</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>
<body class="bg-gray-100">
<div class="container-fluid">
    <div layout:fragment="content">
        <div class="w-full mx-auto max-w-7xl">
            <div class="flex justify-center mt-5">
                <h1 class="text-3xl font-bold text-orange-500 mb-8 md:mb-12">Book the room that suits you!</h1>
            </div>
            <div class="mb-8 flex justify-center mt-8">
                <a sec:authorize="isAuthenticated()" th:href="@{addRoom(idHotel=${idHotel})}"
                   class="bg-gray-800 text-white py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600">Add Room</a>
            </div>
            <div class="flex flex-wrap justify-between">
                <div class="w-full md:w-1/4 bg-gray-200 p-4 rounded-md">
                    <div class="text-center mb-4">
                        <h2 class="text-xl font-semibold text-gray-800">Filters</h2>
                    </div>
                    <div class="p-3 bg-light rounded">
                        <form th:action="@{/roomsList}" method="get" class="space-y-6">
                            <div class="mb-4">
                                <label class="block text-lg font-medium text-gray-700 mb-2">Availability</label>
                                <div class="flex items-center justify-center">
                                    <input class="form-check-input mr-2" name="available" type="checkbox" value="true" id="available">
                                    <label class="form-check-label text-lg" for="available">
                                        Available Only
                                    </label>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block text-lg font-medium text-gray-700 mb-2">Price Range</label>
                                <select class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500 sm:text-sm" name="pricePerNight" id="priceRange">
                                    <option value="all">All</option>
                                    <option value="<200">Less than $200</option>
                                    <option value="200-400">$200 - $400</option>
                                    <option value=">400">Greater than $400</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label for="beds" class="block text-lg font-medium text-gray-700 mb-2">Number of Beds</label>
                                <select class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-500 focus:border-gray-500 sm:text-sm" name="capacity" id="beds">
                                    <option value="">All</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                            <div class="flex justify-center">
                                <button type="submit" class="bg-gray-800 text-white py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600">
                                    Apply
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Rooms Grid Section -->
                <div class="w-full md:w-3/4 bg-gray-100 p-4 rounded-md">
                    <div class="text-center mb-4">
                        <h2 class="text-xl font-semibold text-gray-800">Rooms</h2>
                    </div>
                    <div class="container mx-auto">
                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                            <div th:each="room : ${rooms}" class="bg-gray-100 border rounded-lg p-4">
                                <img th:src="@{'/img/' + ${room.getImageFileName()}}" alt="Room Image"
                                     class="w-full h-40 object-cover rounded-t-lg mb-4">
                                <div class="text-lg font-semibold mb-2">Room: <span
                                        th:text="${room.getRoomNumber()}"></span></div>
                                <div class="mb-2">Price per night: <span th:text="${room.getPricePerNight()}"></span>
                                </div>
                                <div class="mb-2">Capacity: <span th:text="${room.getCapacity()}"></span></div>
                                <div class="mb-2">Available:
                                    <span th:if="${room.isAvailable()}">Yes</span>
                                    <span th:unless="${room.isAvailable()}">No</span>
                                </div>
                                <div sec:authorize="isAuthenticated()" class="flex justify-between mb-2">
                                    <div class="p-2 bg-gray-800 text-white py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600">
                                        <a th:href="@{updateRoom(idHotel=${room.getHotel().getId()},idRoom=${room.getId()},page=${currentPage})}" class="flex items-center">
                                            <span class="ml-2">Update</span>
                                        </a>
                                    </div>
                                    <div class="p-2 bg-gray-800 text-danger py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600">
                                        <a th:href="@{deleteRoom(idHotel=${room.getHotel().getId()},idRoom=${room.getId()},page=${currentPage})}" class="flex items-center">
                                            <span class="ml-2">Delete</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <div class="p-2 bg-gray-800 text-primary py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600">
                                        <a th:href="@{addBooking(idHotel=${room.getHotel().getId()},idRoom=${room.getId()})}" class="flex items-center">
                                            <span class="ml-2">Book</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto mt-4 mb-5">
            <ul class="flex justify-center">
                <li th:each="page, stat : ${pages}" class="mr-2">
                    <a th:class="${stat.index == currentPage ? 'btn bg-gray-800 text-white py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-600' : 'btn bg-gray-200 text-gray-800 py-2 px-4 rounded-lg transition-colors duration-300 hover:bg-gray-300'}"
                       th:text="${stat.index}" th:href="@{roomsList(page=${stat.index},id=${id})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
